.from_blog_area {
  padding: 50px 0;
  .from_blog_inner {
    .c_main_title {
      text-align: center;
      padding: 30px;
      h2 {
        @include text-style($color-brown-2, $fs-4, $fw-bold-2 + 100);
        position: relative;
        padding-bottom: 20px;
        &::before {
          content: "";
          position: absolute;
          height: 3px;
          width: 70px;
          background: $color-brown-2;
          bottom: 0;
          left: 46%;
        }
      }
    }
    .from_blog_item {
        position: relative;
        z-index: 3;
        padding-bottom: 20px;
        border-radius: 5px;
         &:hover{
          -webkit-box-shadow: 0px 0px 37px 0px rgba(161,159,161,1);
          -moz-box-shadow: 0px 0px 37px 0px rgba(161,159,161,1);
          box-shadow: 0px 0px 37px 0px rgba(161,159,161,1);
         }
        .img-fluid{
          width: 100%;
          margin-bottom: 15px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
        .f_blog_text {
            width: 100%;
            padding: 0 $spacing-5;
            z-index: 2;
            font-family: "Poppins", sans-serif;
            
            p {
                padding: 12px 0px 7px 0px;
                @include text-style($color-brown-3, $fs-3 - 2, $fw-bold-2);
            }
            h6 {
                @include text-style($color-white-0, $fs-3 - 2, $fw-bold-2);
            }
            
        }
    }
  }
}