.feature__product__wrapper {
  background-color: $color-brown-1;
  .feature__product_header {
    padding: 20px 0;
    .feature__product__title {
      text-align: center;
      @include text-style($color-brown-3, $fs-4, $fw-bold-0);
      position: relative;
      padding: 10px 0;
      &::before {
        content: "";
        position: absolute;
        height: 3px;
        width: 70px;
        background: $color-brown-0;
        bottom: 0;
        left: 46%;
      }
    }
  }
  .feature__product__content {
    .product__item {
      &:hover {
        -webkit-box-shadow: 0px 0px 37px 0px rgba(161, 159, 161, 1);
        -moz-box-shadow: 0px 0px 37px 0px rgba(161, 159, 161, 1);
        box-shadow: 0px 0px 37px 0px rgba(161, 159, 161, 1);
      }
    }
    .fillter_l_p {
      display: block;
      width: 100%;
      text-align: center;
      li {
        display: inline-block;
        margin: 0 15px;
        a {
          font-family: "Montserrat", sans-serif;
          text-transform: uppercase;
          letter-spacing: 0.4px;
          -webkit-transition: all 400ms linear 0s;
          -o-transition: all 400ms linear 0s;
          transition: all 400ms linear 0s;
          @include text-style($color-brown-3, $fs-2, $fw-bold-2 + 100);
          &:hover {
            text-decoration: none;
          }
        }
      }
      li.active a {
        font-weight: bold;
      }
    }
    padding: 20px;
    .feature__product__grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 1.875rem;
      gap: 1.875rem;
    }
  }
}
