.product__content{
    background-color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    .product_images{
        overflow: hidden;
        position: relative;
        img{
            height: 240px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
    }
    .product__info{
        text-align: center;
        padding: 10px;
        a{
            &:hover{
                text-decoration: none;
            }
        }
        .product-item__name{
            margin-bottom: 0;
            @include text-style($color-brown-3, $fs-3 - 2,$fw-bold-0);
           
        }
        .product-item__rate{
            ul{
                padding: 0;
                li{
                    list-style: none;
                    display: inline-block;
                    margin: 0 5px;
                    @include text-style($color-yellow-0, $fs-3,$fw-normal);
                }
            }
        }
        .product-item__price{
            @include text-style($color-brown-3, $fs-2,$fw-normal);
        }
    }
}

.product_images{

    .products_overplay{
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        color: #fff;
        overflow: hidden;
        .overplay__content{
            display: flex;
            justify-content: space-between;
            width: 100%;
            button{
                transform: translateY(100%);
                display: block;
            }
            .func__wishlist{
                flex: 0.8;
                transition: all .3s;
            }
            .func__cart{
                flex: 4;
                margin: 0 2px;
                display: block;
                transition: all .6s;
            }
            .func__eye{
                flex: 0.8;
                display: block;
                transition: all .9s;
            }
        }
        
    }
    &:hover{
        .products_overplay{
            button{
                display: block;
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

